[submodule "lib/Cinder"]
	path = lib/Cinder
	url = https://github.com/sosolimited/Cinder.git
[submodule "lib/ImGui"]
	path = lib/ImGui
	url = https://github.com/sansumbrella/Cinder-ImGui.git
[submodule "lib/Cinder-ImGui"]
	path = lib/Cinder-ImGui
	url = https://github.com/sansumbrella/Cinder-ImGui.git
